GROQ_API_KEY=""
NEXT_PUBLIC_APPWRITE_PROJECT_ID = ""
NEXT_PUBLIC_APPWRITE_PROJECT_NAME = ""
NEXT_PUBLIC_APPWRITE_ENDPOINT = ""
NEXT_PUBLIC_APPWRITE_API_KEY=""
COLLECTION_ID=""
NEXT_PUBLIC_BASE_URL="http://localhost:3000"